* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "SourceSansPro", sans-serif;
	background: transparent;
	overflow: hidden;
}

@font-face {
	font-family: "SourceSansPro";
	src: url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "SourceSansPro";
	src: url("./fonts/SourceSansPro-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: block;
}
